<header [url]="'/map'"></header>
<ion-content>
    <ion-grid id="title-header">
        <ion-row>
            <ion-col size="4">
                <circle-img [img_path]="'assets/imgs/woman_1.jpg'" [color]="'#fff'"></circle-img>
            </ion-col>
            <ion-col class="ion-align-self-center">
                <ion-row>
                    <ion-col class="ion-text-center">
                        <h4>{{ profissional.nome }}</h4>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-evenly">
                    <ion-col size="1">
                        <ion-icon src="assets/star_2.svg"></ion-icon>
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon src="assets/star_2.svg"></ion-icon>
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon src="assets/star_2.svg"></ion-icon>
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon src="assets/star_2.svg"></ion-icon>
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon src="assets/star_2.svg"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <line-separator [text]="'Escolha o dia'" [textSize]="4" [lineSize]="4"></line-separator>
        <calendario (dayChange)="onSelectDate($event)"></calendario>
        <line-separator [text]="'Escolha os serviços'" [textSize]="6" [lineSize]="3"></line-separator>
        <input-servico *ngFor="let servico of servicosDisponiveis" [servico]="servico" (changeSelection)="onChangeSelections($event)"></input-servico>
        <ion-row class="ion-justify-content-center">
            <ion-col size="4" class="ion-text-center">
                <div class="line"></div>
            </ion-col>
        </ion-row>
        <ion-row class="total-line ion-justify-content-around">
            <ion-col size="4" class="ion-text-center">
                <h6>Total:</h6>
            </ion-col>

            <ion-col size="4" class="ion-text-center">
                <ion-row class="total ion-justify-content-end">
                    <ion-col size="1" style="display: flex;" class="ion-align-self-center">
                        <ion-icon src="assets/cash_gray.svg"></ion-icon>
                    </ion-col>
                    <ion-col size="7" class="ion-align-self-center">
                        <h4>{{ totalFormated }}</h4>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div id="footer-btn">
        <ion-button color="primary" size="large" expand="block" (click)="makeReserve()">Reservar</ion-button>
    </div>
</ion-content>
