/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

a.mapboxgl-ctrl-logo {
  display: none;
}

div.mapboxgl-ctrl.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none !important;
}

div.mapboxgl-popup-content {
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 10px grey;
  ion-grid {
    padding: 0;
    ion-row ion-col {
      padding: 0;
    }

    ion-row ion-col img {
      max-height: 110px;
    }
    ion-row ion-col h4 {
      margin: 0;
      color: #B4B4B4;
    }
    ion-row ion-col p {
      margin: 0;
      color: #B4B4B4;
    }
  }
}
  

h1 {
  color: var(--ion-color-primary);
}

p {
  color: #B4B4B4;
}

small {
  color: #B4B4B4;
}

ion-button {
  text-transform: none;
  --box-shadow: none;
}